# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/
venv/
env/

# Environment variables
#.env
#.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
